<div class="container">
    <h2 class="text-center">Post a quote</h2>
    <hr>
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
        <div class="form-group">
            <label for="name">Write a quote</label>
            <textarea class="form-control" id="name" rows="3" [(ngModel)] = "newQuote.name" name="name" #name='ngModel' required></textarea>
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                <p>Quote is required</p>
            </div>
        </div>
        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" class="form-control" [(ngModel)]="newQuote.author" name="author" #author='ngModel' required id="author">
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                <p>Author is required</p>
            </div>
        </div>
        <div class="form-group">
            <label for="submitBy">Your Name</label>
            <input type="text" class="form-control" required id="submitBy" [(ngModel)] = "newQuote.submitBy" name="submitBy" #submitBy='ngModel'>
        </div>
        <button type="submit" class="btn btn-success">Post Quote</button>
    </form>
</div>